# Cache de bytecode do Python
__pycache__/

# Script pessoal pra execução
gerarImagensDeSatelite.sh

# Pastas geradas pelo script
satelite_images/
satelite_videos/
satelite_temp_images/
satelite_temp_downloads/